.mailBlock {
  display: flex;
  align-items: center;
  margin-top: 0.09rem;
}

.mailCount {
  font-weight: 500;
  font-size: 0.9rem;
  border-radius: 3rem;
  background-color: var(--orange);
  color: var(--white);
  text-align: center;
  height: 1.277rem;
  min-width: 1.277rem;
  padding: 0.15rem 0.35rem;
}

.mailIcon {
  display: inline;
  width: 1.3rem;
  height: auto;
  fill: var(--grey85);
  margin-left: 0.447rem;
}

@media all and (min-width: 1024px) {
  .mailBlock {
    height: 2rem;
  }

  .mailCount {
    font-size: 1.4rem;
    height: 2rem;
    min-width: 2rem;
    padding: 0.2rem 0.3rem;
  }


  .mailIcon {
    width: 2rem;
    margin-left: 0.7rem;
  }
}