.menu {
  position: absolute;
  top: 17px;
  right: 15px;
  padding: 0;
}

.menuButton {
  width: 31px;
  height: 31px;
  display: flex;
  align-items: center;
  justify-content: center;
  transform: rotate(90deg);
  border-radius: 31px;
}

.menuButton:active {
  background-color: rgba(51, 51, 51, 0.1);
}

.dropdown {
  position: absolute;
  right: 0;
  top: 10px;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  background-color: var(--white);
  z-index: 1;
}

.menuItemsList {
  padding: 0 20px;
}

.menuItem {
  padding: 12px 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
}

.menuItem > span {
  color: var(--grey99);
}

.menuItem > svg > path {
  fill: var(--grey99);
}


.menuItem > svg + span {
  margin-left: 7px;
}

.divider {
  height: 1px;
  width: 100%;
  background-color: var(--greyEC);
}

.closeButton {
  background-color: var(--greyD9);
  padding: 12px 23px;
  border-radius: 0 0 3px 3px;
  width: 100%;
  text-align: center;
}

.closeButton span {
  color: var(--grey66);
}

@media all and (min-width: 1024px) {
  .menu {
    position: relative;
    order: 2;
    display: flex;
    align-items: center;
    flex: 0 0;
    top: unset;
    right: unset;
    margin: 0 0 0 auto;
  }

  .menuButton {
    align-self: center;
    transform: unset;
  }
}

@media all and (min-width: 1540px) {
  .menuButton:hover {
    background-color: rgba(51, 51, 51, 0.1);
  }

  .menuItemsList {
    padding: 10px 20px;
  }

  .menuItem {
    padding: 5px 0;
  }

  .menuItem:hover > span {
    color: var(--orange);
  }

  .menuItem:hover > svg > path {
    fill: var(--orange);
  }

  .dropdown {
    right: 50%;
    transform: translateX(50%);
    top: 19px
  }

  .closeButton {
    display: none;
  }
}
