.menuItemsList {
  padding: 0 20px;
}

.menuItem {
  padding: 12px 0;
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  cursor: pointer;
}

.menuItem > svg > path {
  fill: var(--grey99);
}

.menuItem > svg + span {
  margin-left: 5px;
}

.mobileHideItem {
  display: none;
}

.mobileHideItem + .divider {
  display: none;
}

@media all and (min-width: 1024px) {
  .mobileHideItem {
    display: flex;
  }

  .menuItem {
    padding: 11px 0;
  }
}

@media all and (min-width: 1540px) {
  .menuItemsList {
    padding: 10px 20px;
  }

  .menuItem {
    padding: 5px 0;
  }

  .menuItem:hover > span {
    color: var(--orange);
  }

  .menuItem:hover > svg > path {
    fill: var(--orange);
  }
}
