.metaData {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

.metaData > :not(:first-child) {
  padding-left: 6px;
}

@media all and (min-width: 1024px) {
  .metaData {
    flex-flow: row-reverse nowrap;
    justify-content: flex-end;
  }

  .metaData > :not(:first-child) {
    padding-left: unset;
    padding-right: 5px;
  }
}
