.filterDropdown {
  border-radius: 0.7rem;
  background-color: var(--white);
}

.filterDropdown li {
  display: none;
  height: 3.6rem;
  padding: 1.1rem 3.3rem;
  position: relative;
}

.filterDropdown li.selected {
  display: revert;
}

.filterDropdown li p {
  font-size: 1.2rem;
}

.filterDropdown li.selected p {
  color: var(--orange);
}

.filterDropdownIcon {
  height: 1.1rem;
  width: 9px;
  fill: var(--orange);
  position: absolute;
  left: 2rem;
  top: 47%;
  transform: translateY(-50%);
}

@media all and (min-width: 1024px) {
  .filterDropdown {
    background-color: unset;
    display: flex;
    grid-column: 1/3;
    flex-flow: row nowrap;
    justify-content: space-between;
    margin-inline: 8rem;
    position: relative;
  }

  .filterDropdown::after {
    display: block;
    height: 2px;
    width: calc(100% - 2px);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--grey85);
    content: "";
  }
  
  .filterDropdownIcon {
    display: none;
  }

  .filterDropdown li {
    display: revert;
    padding: 0;
    height: 3.8rem;
  }

  .filterDropdown li p  {
    font-size: 2rem;
  }

  .filterDropdown li.selected::after {
    display: block;
    height: 2px;
    width: calc(100% - 2px);
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: var(--orange);
    content: "";
    z-index: 1;
  }
}