.searchBlock {
  height: 5.8rem;
  display: flex;
  padding: 1.4rem 2rem ;
  background-color: var(--white);
  justify-content: space-between;
  flex-flow: row nowrap;
  box-shadow: 0 0 2rem rgba(0, 0, 0, 0.1);
  border-radius: 0 0 0.7rem 0.7rem;
  margin-bottom: 3.8rem;
  align-items: center;
}

@media all and (min-width: 1024px) {
  .searchBlock {
    background-color: transparent;
    box-shadow: unset;
    flex-direction: row-reverse;
    margin: 0;
    padding: 0;
    height: unset;
  }
}